.main{
    width: 80%;
    margin: 20px auto;
    z-index: 667;
}
.mainTitle{
    margin:10px 36%;
}
.mainTitle span{
    color: lightpink;
    font-size: 30px;
    font-style: italic;
}
/* 首页的轮播和时钟效果 */
.titleShow{
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    background: #f6f7fb;
}
/* 轮播效果 */
.titleLeft{
    position: relative;
    width: 100%;
    height: 400px;
}
.list{
    position: relative;
    width: 100%;
    height: 400px;
    list-style: none;
}
.titleLeft li{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .8s;
}
img{
    width: 100%;
    height: 400px;
}
/* 按钮的样式 */
.btn{
    position: absolute;
    top: 0px;
    width: 60px;
    height: 100%;
    border: none;
    background-color: white;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
    z-index: 666;
}
.btn:hover{
    border: none;
    background-color: lightgray;
    opacity: 1;
}
#golast{
    left: 0px;
}
#gonext{
    right: 0px;
}
.img.active{
    opacity: 1;
    z-index: 10;
}
/* 小圆点的样式 */
.point_list{
    position: absolute;
    right: 620px;
    bottom: 20px;
    list-style: none;
    cursor: pointer;
    z-index: 666;
}
.point{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.point.active{
    background-color:white;
}

/* 时钟的样式 */
#myCanvas{
    display: block;
    margin:10px auto;
}

/* 展示区 */
.teach{
    margin-top: 100px;
}
/* 展示区标题样式 */
.line-title {
    position: relative;
    font-size: 0;
    text-align: center;
}
.mb10 {
    margin-bottom: 10px;
}
.w1000 {
    width: 100%;
    margin: 20px auto 10px;
}
.line-title span {
    font-size: 18px;
}
.line-title span {
    display: inline-block;
    position: relative;
    height: 24px;
    padding: 0 25px;
    background: #fff;
    z-index: 2;
}
.line-title b {
    position: absolute;
    width: 100%;
    left: 0;
    top: 12px;
    font-size: 0;
    line-height: 0;
    border-top: 1px solid #d5d4d3;
    z-index: 1;
}
/* 展示区副标题 */
.line-sub-title {
    position:relative;
    padding-bottom: 0px;
    color: #666;
    text-align: center;
    letter-spacing: 1px;
}
.line-sub-title p {
    margin-bottom: 10px;
}
.clearfix {
    zoom: 1;
}
.clearfix:before {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.fr {
    position:absolute; 
    right:0;
    top:0;
}
.crafter-more a {
    width: 50px;
    color: #63a485;
    font-size: 15px;
}
a[href] {
    text-decoration: none;
    cursor: pointer;
}
.fr i{
    margin-left: 5px;
    font-size: 18px;
}
.clearfix:after {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: "\20";
    clear: both;
}
.Content{
    display: flex;
    margin: 0px 30px;
    flex-wrap: wrap;
}
.wrap{
    width: 350px;
    height: 300px;
}
video{
    width: 300px;
    height: 200px;
}
.wrap-info p{
    position:relative;
    margin: 10px 0px;
    color: #666;
    letter-spacing: 1px;
}
hr{
    width: 300px;
}
.comment{
    margin:8px 0px 0px 160px;
}
.comment span{
    margin:0px 8px;
    font-size: 10px;
}
.Content img{
    width: 300px;
    height: 200px;
}

/* 广场论坛 */
.circleBox {
    width: 100%;
    height: 300px;
    background: #fff;
    height: auto;
}
.circleBox div{
    display: block;
}
.circleList {
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
    position: relative;
}
/* 头像区 */
.circleListL {
    width: 80px;
    float: left;
}
.circleListL a {
    display: block;
    width: 42px;
    height: 42px;
    margin: 20px auto 0;
    border-radius: 21px;
}
.circleListL a img {
    width: 42px;
    height: 42px;
    border-radius: 21px;
}
.fixed {
    display: block;
    min-height: 1%;
}
a, a:link {
    text-decoration: none;
}
/* 右边 */
.circleListR {
    position: relative;
    float: left;
    margin-left: 10px;
    width: 500px;
    height:560px;
}
.Username {
    color: #000;
    display: block;
    margin-top: 23px;
}
.size14 {
    font-size: 14px;
}
.subject {
    width: 500px;
    line-height: 20px;
    color: #222;
    margin-top: 5px;
}
.sCirclePic {
    margin-top: 15px;
}
.sCirclePic img {
    width: 200px;
    border: 0 none;
    vertical-align: top;
}
.sCirclePic ul {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}
.sCirclePic ul li img{
    width: 153px;
    height: 153px;
    margin-left: 5px;
    margin-top: 5px;
}
.hui-one {
    color: #999;
}
.hui-four {
    color: #222;
}
.Otherinfo{
    margin-top: 15px;
}
.Info {
    margin-left: 30px;
}
.Otherinfo ul {
    float: right;
    margin-right: -17px;
}
.Otherinfo ul li {
    padding: 0 17px;
    float: left;
    border-right: 1px solid #c7c7c7;
}
li {
    list-style-type: none;
}
.fense {
    color: #ff6699;
}
.fixed:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/* 查看更多 */
.circleMore {
    width: 500px;
    height: 40px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    margin-top: 5px;
}
.circleMore a {
    margin-left: 30px;
    font-size: 14px;
    color: #ff6699;
}