
.wrap{
    display: flex;
    width: 1000px;
    height: 300px;
    margin: 20px auto;
    flex-wrap: wrap;
}
video{
    width: 1000px;
    height: 300px;
}
.wrap-info p{
    position:relative;
    margin: 10px 0px;
    color: #666;
    letter-spacing: 2px;
}
hr{
    width: 800px;
}
.comment{
    width: 1000px;
    height: auto;
    margin: 200px 600px;
}